*{
    margin: 0;
}

main{
    display: grid;
    
    grid-template-rows: 1fr 1fr;
}

header{
    height: 20%;
    width: 100%;
    background-color: #c4c4c4;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: white;
}

h1{
    font-size: 1em;
    align-self: center;
    padding-left: 5%;
}

nav{
    height: 10vh;
    width: 100%;
    grid-column-start: 3;
    display: flex;
    justify-content: space-evenly;
}

a{
    align-self: center;
}

section{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h2{
    font-size: xx-large;
    margin: 5% auto;
}

div{
    background-color: #c4c4c4;
    width: 50%;
    height: 50vh;
}